body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#capa{
    width: 200px;
    height: 200px;
    border:1px solid rgb(0, 183, 255);
    border-radius: 5px;
    background: linear-gradient(red, green);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
#correo:invalid{
    background-color: rgb(255, 110, 110);
    box-shadow: -2px -2px rgb(151, 0, 0);
}
#correo:valid{
    background-color: rgb(194, 194, 194);
    box-shadow: 2px 2px rgb(85, 85, 85);
}
input{
    border-radius: 10px;
}
#boton{
    align-self: flex-end;
    background-color: violet;
}